<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"},"blockGap":"1.5rem"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top: 2rem; padding-bottom: 2rem">
	<!-- wp:heading {"level":1} -->Page not found<!-- /wp:heading -->
	<!-- wp:paragraph -->It looks like nothing was found at this location. Try a search below.<!-- /wp:paragraph -->
	<!-- wp:search {"showLabel":false,"buttonPosition":"button","buttonUseIcon":false,"placeholder":"Search"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
